
/*
.home-slide{
}
*/

/*.carousel-item > img{
    
}*/

.bestseller{
    padding-top: 10px;
    /*height: 500px;*/
    height: auto; 
    /*border: 5px solid;*/
    
}

.bestseller h1{
    text-align: center;
    
}


/*.row > div{
    margin-right: 5px;
}*/

.ProductComponentV1 img{
    width: 80%;
    border-radius: 5px;
}

@media only screen and (max-width: 575px) {
    .ProductComponentV1 img{
        width: 40%;
    }
  }


  /*add to cart button*/
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

.button-add-home{
    background-color: white;
  color: black;
  border: 2px solid grey;
}

.button-add-home:hover {
    background-color: grey;
    color: white;
  }


  
/*NewsLetter component style*/

.newsletter-subscribe {
    color: #313437;
    background-color: #ffffff;
    padding: 55px 74px;
  }
  
  .newsletter-subscribe p {
    color: #7d8285;
    line-height: 1.5;
  }
  
  .newsletter-subscribe h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 1.5;
    padding-top: 0;
    margin-top: 0;
    color: inherit;
  }
  
  .newsletter-subscribe .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 25px;
  }
  
  .newsletter-subscribe .intro p {
    margin-bottom: 35px;
  }
  
  .newsletter-subscribe form {
    justify-content: center;
  }
  
  .newsletter-subscribe form .form-control {
    background: #eff1f4;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 9px;
    height: 45px;
    margin-right: 10px;
    min-width: 250px;
  }
  
  .newsletter-subscribe form .btn {
    padding: 16px 32px;
    border: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1;
  }
  
  .newsletter-subscribe form .btn:hover {
    opacity: 1;
  }
  
  .newsletter-subscribe form .btn:active {
    transform: translateY(1px);
  }
  
  .newsletter-subscribe form .btn-primary {
    background-color: #055ada !important;
    color: #fff;
    outline: none !important;
  }
  
  body {
    background: #eee;
  }
  
  .newsletter {
    color: #0062cc !important;
  }

  /*Newsletter Popup*/

  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #C291A4;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */

  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #C291A4 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }