/* same css styles as fashion-women -> no need to duplicate*/
.sticky {
    position: -webkit-sticky; /*Safari*/
    position: sticky;
    top: 0;
  }

.sticky button{
    position: absolute;
    right: 0;
    width: 130px;
}

.see-size{
  position: absolute;
  right: 0;
  top:  80px; /*to position See Size button under Checkout button*/
  width: 130px;
}

/*#size-color-selected{
  color: #C291A4;
} (if I use a popup message)*/